<div class="homeBanner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <swiper [config]="config" (slideChange)="onSlide">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiperContent d-none d-md-block animate__animated animate__slideInLeft">
                <span>Make Your <span>Move</span> Leave Your <span>Mark</span></span>
                <a href="#" class="btn btn-primary">Show Now</a>
              </div>
              <div class="homeProductWrapper animate__animated animate__slideInDown">
                <img src="assets/img/homeBannerProduct.png" alt="" class="img-fluid">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiperContent d-none d-md-block animate__animated animate__slideInLeft">
                <span>Make Your <span>Move</span> Leave Your <span>Mark</span></span>
                <a href="#" class="btn btn-primary">Show Now</a>
              </div>
              <div class="homeProductWrapper animate__animated animate__slideInDown">
                <img src="assets/img/homeBannerProduct.png" alt="" class="img-fluid">
              </div>
            </div>
            <div class="swiper-slide animate__animated animate__slideInLeft">
              <div class="swiperContent d-none d-md-block animate__animated animate__slideInLeft">
                <span>Make Your <span>Move</span> Leave Your <span>Mark</span></span>
                <a href="#" class="btn btn-primary">Show Now</a>
              </div>
              <div class="homeProductWrapper animate__animated animate__slideInDown">
                <img src="assets/img/homeBannerProduct.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <!-- Nav Controls -->
          <div class="instaGalleryControls">
            <div class="btn btn-dark swiper-button-next">
              <i class="fas fa-angle-left"></i>
            </div>
            <div class="btn btn-dark swiper-button-prev">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
        </swiper>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="genderCategory">
          <ul>
            <li>
              <a href="#" class="btn btn-warning btnBounce btnBounceWarning"><span>Men</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-warning btnBounce btnBounceWarning"><span>Women</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-warning btnBounce btnBounceWarning"><span>Kids</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
