<ngb-accordion #acc="ngbAccordion" [closeOthers]="false" activeIds="static-1">
  <ngb-panel title="Gender" id="static-1">
    <ng-template ngbPanelContent>
      <div class="form-group">
          <input type="radio" name="Gender" id="Men">
          <label for="Men">Men</label>
      </div>
      <div class="form-group">
          <input type="radio" name="Gender" id="Women">
          <label for="Women">Women</label>
      </div>
      <div class="form-group">
          <input type="radio" name="Gender" id="Kids">
          <label for="Kids">Kids</label>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Categories" id="static-2">
    <ng-template ngbPanelContent>
      <div class="form-group">
        <input type="checkbox" name="sneakers" id="sneakers">
        <label for="sneakers">Sneakers</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="running" id="running">
        <label for="running">Running</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="walking" id="walking">
        <label for="Walking">Walking</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="trainingGym" id="trainingGym">
        <label for="trainingGym">Training &amp; Gym</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="slipOns" id="slipOns">
        <label for="slipOns">Slip-Ons</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="flipFlops" id="flipFlops">
        <label for="flipFlops">Sandals &amp; Flipflops</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="motorSport" id="motorSport">
        <label for="motorSport">Motorsport</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="cricket" id="cricket">
        <label for="cricket">Cricket</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="badminton" id="badminton">
        <label for="badminton">Badminton</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="basketBall" id="basketBall">
        <label for="basketBall">Basketball</label>
      </div>
      <div class="form-group">
        <input type="checkbox" name="footBall" id="footBall">
        <label for="footBall">Football</label>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Price" id="static-3">
    <ng-template ngbPanelContent>
      <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Size (UK)" id="static-4">
    <ng-template ngbPanelContent>
      <ul class="selectionPallete sizePallete">
        <li>
          <input type="checkbox" name="numberThree" id="numberThree">
          <label for="numberThree">3</label>
        </li>
        <li>
          <input type="checkbox" name="numberFour" id="numberFour">
          <label for="numberFour">4</label>
        </li>
        <li>
          <input type="checkbox" name="numberFive" id="numberFive">
          <label for="numberFive">5</label>
        </li>
        <li>
          <input type="checkbox" name="numberFivePointFive" id="numberFivePointFive">
          <label for="numberFivePointFive">5.5</label>
        </li>
        <li>
          <input type="checkbox" name="numberSix" id="numberSix">
          <label for="numberSix">6</label>
        </li>
        <li>
          <input type="checkbox" name="numberSixPointFive" id="numberSixPointFive">
          <label for="numberSixPointFive">6.5</label>
        </li>
        <li>
          <input type="checkbox" name="numberSeven" id="numberSeven">
          <label for="numberSeven">7</label>
        </li>
        <li>
          <input type="checkbox" name="numberSevenPointFive" id="numberSevenPointFive">
          <label for="numberSevenPointFive">7.5</label>
        </li>
        <li>
          <input type="checkbox" name="numberEight" id="numberEight">
          <label for="numberEight">8</label>
        </li>
        <li>
          <input type="checkbox" name="numberEightPointFive" id="numberEightPointFive">
          <label for="numberEightPointFive">8.5</label>
        </li>
        <li>
          <input type="checkbox" name="numberNine" id="numberNine">
          <label for="numberNine">9</label>
        </li>
        <li>
          <input type="checkbox" name="numberNinePointFive" id="numberNinePointFive">
          <label for="numberNinePointFive">9.5</label>
        </li>
        <li>
          <input type="checkbox" name="numberTen" id="numberTen">
          <label for="numberTen">10</label>
        </li>
        <li>
          <input type="checkbox" name="numberTenPointFive" id="numberTenPointFive">
          <label for="numberTenPointFive">10.5</label>
        </li>
        <li>
          <input type="checkbox" name="numberEleven" id="numberEleven">
          <label for="numberEleven">11</label>
        </li>
        <li>
          <input type="checkbox" name="numberElevenPointFive" id="numberElevenPointFive">
          <label for="numberElevenPointFive">11.5</label>
        </li>
        <li>
          <input type="checkbox" name="numberTwelve" id="numberTwelve">
          <label for="numberTwelve">12</label>
        </li>
        <li>
          <input type="checkbox" name="numberTwelvePointFive" id="numberTwelvePointFive">
          <label for="numberTwelvePointFive">12.5</label>
        </li>
        <li>
          <input type="checkbox" name="numberThirteen" id="numberThirteen">
          <label for="numberThirteen">13</label>
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Color" id="static-5">
    <ng-template ngbPanelContent>
      <ul class="selectionPallete colorPallete">
        <li class="black">
          <input type="checkbox" name="black" id="black">
          <label for="black"><span class="sr-only">Black</span></label>
        </li>
        <li class="gray">
          <input type="checkbox" name="Gray" id="Gray">
          <label for="Gray"><span class="sr-only">Gray</span></label>
        </li>
        <li class="brown">
          <input type="checkbox" name="brown" id="brown">
          <label for="brown"><span class="sr-only">Brown</span></label>
        </li>
        <li class="blue">
          <input type="checkbox" name="blue" id="blue">
          <label for="blue"><span class="sr-only">Blue</span></label>
        </li>
        <li class="green">
          <input type="checkbox" name="green" id="green">
          <label for="green"><span class="sr-only">Green</span></label>
        </li>
        <li class="darkYellow">
          <input type="checkbox" name="darkYellow" id="darkYellow">
          <label for="darkYellow"><span class="sr-only">Dark Yellow</span></label>
        </li>
        <li class="lightYellow">
          <input type="checkbox" name="lightYellow" id="lightYellow">
          <label for="lightYellow"><span class="sr-only">Light Yellow</span></label>
        </li>
        <li class="yellow">
          <input type="checkbox" name="yellow" id="yellow">
          <label for="yellow"><span class="sr-only">Yellow</span></label>
        </li>
        <li class="red">
          <input type="checkbox" name="red" id="red">
          <label for="red"><span class="sr-only">Red</span></label>
        </li>
        <li class="purple">
          <input type="checkbox" name="purple" id="purple">
          <label for="purple"><span class="sr-only">Purple</span></label>
        </li>
        <li class="pink">
          <input type="checkbox" name="pink" id="pink">
          <label for="pink"><span class="sr-only">Pink</span></label>
        </li>
        <li class="white">
          <input type="checkbox" name="white" id="white">
          <label for="white"><span class="sr-only">White</span></label>
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
