<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xl-10 mx-xl-auto">
        <div class="footerContentWrapper">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-4">
                  <ul class="footerNav">
                    <li><a href="#">Womens</a></li>
                    <li><a href="#">Mens</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Originals</a></li>
                    <li><a href="#">Discover</a></li>
                    <li><a href="#">Sale</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="footerNav">
                    <li><a href="#">Customer Service</a></li>
                    <li><a href="#">Shipping &amp; Delivery</a></li>
                    <li><a href="#">Order Lookup</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Compare At Pricing</a></li>
                    <li><a [routerLink]="'/FAQs'">FAQs</a></li>
                    <li><a href="#">Rewards Program</a></li>
                    <li><a href="#">Shoe Care Guide</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="footerNav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Affeliate Program</a></li>
                    <li><a href="#">Careers</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex flex-column">
              <form>
                <div class="form-group">
                  <label for="emailSubscription">Get latest product updates</label>
                  <input type="email" id="emailSubscription" name="emailSubscription" class="form-control">
                  <button type="submit" class="d-none"></button>
                </div>
              </form>
              <ul class="socialMediaLinks">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              </ul>
              <ul class="secondryNav mt-auto">
                <li><a href="#">&copy; ABROS 2021</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
