<div class="productDetail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="'/Home'">Home</a></li>
                      <li class="breadcrumb-item"><a [routerLink]="'/Home'">Women</a></li>
                      <li class="breadcrumb-item"><a [routerLink]="'/Home'">Shoes</a></li>
                      <li class="breadcrumb-item"><a [routerLink]="'/Home'">Sneakers</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Kyron Wild Beasts CMEVA Women's Sneakers</li>
                    </ol>
                  </nav>                  
            </div>
        </div>
        <div class="row productDetailMainContent">
            <div class="col-lg-8">
                <app-product-detail-gallery></app-product-detail-gallery>
            </div>
            <div class="col-lg-4">
                <h5>Abros Performance Falcon women Shoes (EG8609)</h5>
                <div class="productPrice">
                    <span class="currentPrice"><i class="fas fa-rupee-sign"></i> 7500</span>
                    <span class="oldPrice">
                        <del><i class="fas fa-rupee-sign"></i> 9500</del>
                        <span>Prices include GST</span>
                    </span>
                </div>
                <div class="shoppingControl">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                      <a  href="#" class="btn btn-primary">Shop Now</a>
                      <a href="#" class="wishList"><i class="far fa-heart"></i></a>
                </div>
                <div class="sizeChart">
                    <ul class="selectionPallete sizePallete">
                        <li>
                          <input type="checkbox" name="numberThree" id="numberThree">
                          <label for="numberThree">3</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberFour" id="numberFour">
                          <label for="numberFour">4</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberFive" id="numberFive">
                          <label for="numberFive">5</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberFivePointFive" id="numberFivePointFive">
                          <label for="numberFivePointFive">5.5</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberSix" id="numberSix">
                          <label for="numberSix">6</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberSixPointFive" id="numberSixPointFive">
                          <label for="numberSixPointFive">6.5</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberSeven" id="numberSeven">
                          <label for="numberSeven">7</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberSevenPointFive" id="numberSevenPointFive">
                          <label for="numberSevenPointFive">7.5</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberEight" id="numberEight">
                          <label for="numberEight">8</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberEightPointFive" id="numberEightPointFive">
                          <label for="numberEightPointFive">8.5</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberNine" id="numberNine">
                          <label for="numberNine">9</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberNinePointFive" id="numberNinePointFive">
                          <label for="numberNinePointFive">9.5</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberTen" id="numberTen">
                          <label for="numberTen">10</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberTenPointFive" id="numberTenPointFive">
                          <label for="numberTenPointFive">10.5</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberEleven" id="numberEleven">
                          <label for="numberEleven">11</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberElevenPointFive" id="numberElevenPointFive">
                          <label for="numberElevenPointFive">11.5</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberTwelve" id="numberTwelve">
                          <label for="numberTwelve">12</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberTwelvePointFive" id="numberTwelvePointFive">
                          <label for="numberTwelvePointFive">12.5</label>
                        </li>
                        <li>
                          <input type="checkbox" name="numberThirteen" id="numberThirteen">
                          <label for="numberThirteen">13</label>
                        </li>
                      </ul>
                </div>
                <div class="homeDelivery">
                    <i class="fas fa-truck"></i> Home Delivery At Your Doorstep
                </div>
                <ngb-accordion [closeOthers]="true" activeIds="static-1">
                    <ngb-panel id="static-1" title="Description">
                      <ng-template ngbPanelContent>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse </p>
                        <a href="#">Read More <i class="fas fa-arrow-right"></i></a>
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" title="Free Shipping And Returns">
                      <ng-template ngbPanelContent>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse </p>
                        <a href="#">Read More <i class="fas fa-arrow-right"></i></a>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="productFeatures">
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <h5>PRODUCT STORY</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Details</h5>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Features + Benefits</h5>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 mb-2">
                <h5>Similar Products</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 productList">
                <div [routerLink]="'/ProductDetail'">
                    <div class="userSelection">
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                        <ul>
                            <li><button type="button" class="lightPink"></button></li>
                            <li><button type="button" class="darkPink"></button></li>
                        </ul>
                    </div>
                    <div class="productInfo">
                        <img src="assets/img/product-1.png" alt="" class="img-fluid">
                        <h6>Abros Lite Air Fit Pink &amp; Red</h6>
                    </div>
                    <div class="userControl">
                        <span><i class="fas fa-rupee-sign"></i> 7500</span>
                        <button>
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-6 col-md-4 col-lg-3 productList">
            <div [routerLink]="'/ProductDetail'">
                <div class="userSelection">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <ul>
                        <li><button type="button" class="darkSoil"></button></li>
                        <li><button type="button" class="lightBrown"></button></li>
                    </ul>
                </div>
                <div class="productInfo">
                    <img src="assets/img/product-2.png" alt="" class="img-fluid">
                    <h6>Abros Lite Air Fit Pink &amp; Red</h6>
                </div>
                <div class="userControl">
                    <span><i class="fas fa-rupee-sign"></i> 7500</span>
                    <button>
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 productList">
            <div [routerLink]="'/ProductDetail'">
                <div class="userSelection">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <ul>
                        <li><button type="button" class="darkBlue"></button></li>
                        <li><button type="button" class="lightBlue"></button></li>
                    </ul>
                </div>
                <div class="productInfo">
                    <img src="assets/img/product-3.png" alt="" class="img-fluid">
                    <h6>Abros Lite Air Fit Pink &amp; Red</h6>
                </div>
                <div class="userControl">
                    <span><i class="fas fa-rupee-sign"></i> 7500</span>
                    <button>
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 productList">
            <div [routerLink]="'/ProductDetail'">
                <div class="userSelection">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <ul>
                        <li><button type="button" class="darkGreen"></button></li>
                        <li><button type="button" class="lightGreen"></button></li>
                    </ul>
                </div>
                <div class="productInfo">
                    <img src="assets/img/product-4.png" alt="" class="img-fluid">
                    <h6>Abros Lite Air Fit Pink &amp; Red</h6>
                </div>
                <div class="userControl">
                    <span><i class="fas fa-rupee-sign"></i> 7500</span>
                    <button>
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 productList">
            <div [routerLink]="'/ProductDetail'">
                <div class="userSelection">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <ul>
                        <li><button type="button" class="lightPurple"></button></li>
                        <li><button type="button" class="darkPurple"></button></li>
                    </ul>
                </div>
                <div class="productInfo">
                    <img src="assets/img/product-5.png" alt="" class="img-fluid">
                    <h6>Abros Lite Air Fit Pink &amp; Red</h6>
                </div>
                <div class="userControl">
                    <span><i class="fas fa-rupee-sign"></i> 7500</span>
                    <button>
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 productList">
            <div [routerLink]="'/ProductDetail'">
                <div class="userSelection">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <ul>
                        <li><button type="button" class="darkBrown"></button></li>
                        <li><button type="button" class="crimson"></button></li>
                    </ul>
                </div>
                <div class="productInfo">
                    <img src="assets/img/product-6.png" alt="" class="img-fluid">
                    <h6>Abros Lite Air Fit Pink &amp; Red</h6>
                </div>
                <div class="userControl">
                    <span><i class="fas fa-rupee-sign"></i> 7500</span>
                    <button>
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 productList">
            <div [routerLink]="'/ProductDetail'">
                <div class="userSelection">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <ul>
                        <li><button type="button" class="darkSoil"></button></li>
                        <li><button type="button" class="lightBrown"></button></li>
                    </ul>
                </div>
                <div class="productInfo">
                    <img src="assets/img/product-7.png" alt="" class="img-fluid">
                    <h6>Abros Lite Air Fit Pink &amp; Red</h6>
                </div>
                <div class="userControl">
                    <span><i class="fas fa-rupee-sign"></i> 7500</span>
                    <button>
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 productList">
            <div [routerLink]="'/ProductDetail'">
                <div class="userSelection">
                    <a href="#">
                        <i class="far fa-heart"></i>
                    </a>
                    <ul>
                        <li><button type="button" class="lightPurple"></button></li>
                        <li><button type="button" class="darkPurple"></button></li>
                    </ul>
                </div>
                <div class="productInfo">
                    <img src="assets/img/product-8.png" alt="" class="img-fluid">
                    <h6>Abros Lite Air Fit Pink &amp; Red</h6>
                </div>
                <div class="userControl">
                    <span><i class="fas fa-rupee-sign"></i> 7500</span>
                    <button>
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>