<h5>Order Details</h5>
<div class="selectedProductWrapper">
    <div class="row">
        <div class="col-sm-6 mb-3">
            <img src="assets/img/selectedProduct.jpg" alt="" class="img-fluid w-100">
        </div>
        <div class="col-sm-6 mb-3">
            <h6>Abros Performance Falcon women Shoes (EG8609)</h6>
            <div  class="productPrice">
                <span class="currentPrice">
                    <i class="fas fa-rupee-sign" aria-hidden="true"></i> 
                    7500
                </span>
                <span class="oldPrice">
                    <del>
                        <i class="fas fa-rupee-sign" aria-hidden="true"></i> 
                        9500
                    </del>
                </span>
                <span >Prices include GST</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="selectedProductControl">
                <div ngbDropdown>
                    <button class="custom-select" id="colorPicker" ngbDropdownToggle>Color</button>
                    <div ngbDropdownMenu aria-labelledby="colorPicker">
                        <ul class="selectionPallete colorPallete">
                            <li class="black">
                              <input type="checkbox" name="black" id="black">
                              <label for="black"><span class="sr-only">Black</span></label>
                            </li>
                            <li class="gray">
                              <input type="checkbox" name="Gray" id="Gray">
                              <label for="Gray"><span class="sr-only">Gray</span></label>
                            </li>
                            <li class="brown">
                              <input type="checkbox" name="brown" id="brown">
                              <label for="brown"><span class="sr-only">Brown</span></label>
                            </li>
                            <li class="blue">
                              <input type="checkbox" name="blue" id="blue">
                              <label for="blue"><span class="sr-only">Blue</span></label>
                            </li>
                            <li class="green">
                              <input type="checkbox" name="green" id="green">
                              <label for="green"><span class="sr-only">Green</span></label>
                            </li>
                            <li class="darkYellow">
                              <input type="checkbox" name="darkYellow" id="darkYellow">
                              <label for="darkYellow"><span class="sr-only">Dark Yellow</span></label>
                            </li>
                            <li class="lightYellow">
                              <input type="checkbox" name="lightYellow" id="lightYellow">
                              <label for="lightYellow"><span class="sr-only">Light Yellow</span></label>
                            </li>
                            <li class="yellow">
                              <input type="checkbox" name="yellow" id="yellow">
                              <label for="yellow"><span class="sr-only">Yellow</span></label>
                            </li>
                            <li class="red">
                              <input type="checkbox" name="red" id="red">
                              <label for="red"><span class="sr-only">Red</span></label>
                            </li>
                            <li class="purple">
                              <input type="checkbox" name="purple" id="purple">
                              <label for="purple"><span class="sr-only">Purple</span></label>
                            </li>
                            <li class="pink">
                              <input type="checkbox" name="pink" id="pink">
                              <label for="pink"><span class="sr-only">Pink</span></label>
                            </li>
                            <li class="white">
                              <input type="checkbox" name="white" id="white">
                              <label for="white"><span class="sr-only">White</span></label>
                            </li>
                          </ul>
                    </div>
                </div>
                <div ngbDropdown>
                    <button class="custom-select" id="sizePicker" ngbDropdownToggle>Size</button>
                    <div ngbDropdownMenu aria-labelledby="sizePicker">
                        <ul class="selectionPallete sizePallete">
                            <li>
                              <input type="checkbox" name="numberThree" id="numberThree">
                              <label for="numberThree">3</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberFour" id="numberFour">
                              <label for="numberFour">4</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberFive" id="numberFive">
                              <label for="numberFive">5</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberFivePointFive" id="numberFivePointFive">
                              <label for="numberFivePointFive">5.5</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberSix" id="numberSix">
                              <label for="numberSix">6</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberSixPointFive" id="numberSixPointFive">
                              <label for="numberSixPointFive">6.5</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberSeven" id="numberSeven">
                              <label for="numberSeven">7</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberSevenPointFive" id="numberSevenPointFive">
                              <label for="numberSevenPointFive">7.5</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberEight" id="numberEight">
                              <label for="numberEight">8</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberEightPointFive" id="numberEightPointFive">
                              <label for="numberEightPointFive">8.5</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberNine" id="numberNine">
                              <label for="numberNine">9</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberNinePointFive" id="numberNinePointFive">
                              <label for="numberNinePointFive">9.5</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberTen" id="numberTen">
                              <label for="numberTen">10</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberTenPointFive" id="numberTenPointFive">
                              <label for="numberTenPointFive">10.5</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberEleven" id="numberEleven">
                              <label for="numberEleven">11</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberElevenPointFive" id="numberElevenPointFive">
                              <label for="numberElevenPointFive">11.5</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberTwelve" id="numberTwelve">
                              <label for="numberTwelve">12</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberTwelvePointFive" id="numberTwelvePointFive">
                              <label for="numberTwelvePointFive">12.5</label>
                            </li>
                            <li>
                              <input type="checkbox" name="numberThirteen" id="numberThirteen">
                              <label for="numberThirteen">13</label>
                            </li>
                          </ul>
                    </div>
                </div>
                <div>
                    <input type="number" class="form-control" name="productQuantity" id="productQuantity" placeholder="0" min="0" max="10">
                </div>
                <div class="btn btn-outline-dark">
                    <i class="fas fa-trash"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-borderless orderSummaryTable">
                <tbody>
                    <tr>
                        <td>Subtotal</td>
                        <td>&#8377; 7,500/-</td>
                    </tr>
                    <tr>
                        <td>Shipping Cost</td>
                        <td>&#8377; 0/-</td>
                    </tr>
                    <tr>
                        <td><span class="leadText">Grand Total</span></td>
                        <td><span class="leadText">&#8377; 7,500/-</span></td>
                    </tr>
                    <tr>
                        <td>You Save <span class="text-danger">(&#8377; 2,000/-)</span></td>
                        <td><del><span class="text-danger">(&#8377; 2,000/-)</span></del> <small>(Prices Includes GST)</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>