<div class="row">
    <div class="col-md-4 col-lg-6 col-xl-4 productList">
        <div [routerLink]="'/ProductDetail'">
            <div class="userSelection">
                <a href="#">
                    <i class="far fa-heart"></i>
                </a>
                <ul>
                    <li><button type="button" class="lightPink"></button></li>
                    <li><button type="button" class="darkPink"></button></li>
                </ul>
            </div>
            <div class="productInfo">
                <img src="assets/img/product-1.png" alt="" class="img-fluid">
                <h6>Abros Lite Air Fit Pink &amp; Red</h6>
            </div>
            <div class="userControl">
                <span><i class="fas fa-rupee-sign"></i> 7500</span>
                <button>
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="darkSoil"></button></li>
                <li><button type="button" class="lightBrown"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-2.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="darkBlue"></button></li>
                <li><button type="button" class="lightBlue"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-3.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="darkGreen"></button></li>
                <li><button type="button" class="lightGreen"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-4.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="lightPurple"></button></li>
                <li><button type="button" class="darkPurple"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-5.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="darkBrown"></button></li>
                <li><button type="button" class="crimson"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-6.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="darkSoil"></button></li>
                <li><button type="button" class="lightBrown"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-7.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="lightPurple"></button></li>
                <li><button type="button" class="darkPurple"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-8.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="lightGray"></button></li>
                <li><button type="button" class="darkGray"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-9.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div  [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="crimson"></button></li>
                <li><button type="button" class="darkSoil"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-10.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="lightBrown"></button></li>
                <li><button type="button" class="darkSoil"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-11.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-lg-6 col-xl-4 productList">
    <div [routerLink]="'/ProductDetail'">
        <div class="userSelection">
            <a href="#">
                <i class="far fa-heart"></i>
            </a>
            <ul>
                <li><button type="button" class="darkBlue"></button></li>
                <li><button type="button" class="lightBlue"></button></li>
            </ul>
        </div>
        <div class="productInfo">
            <img src="assets/img/product-2.png" alt="" class="img-fluid">
            <h6>Abros Lite Air Fit Pink &amp; Red</h6>
        </div>
        <div class="userControl">
            <span><i class="fas fa-rupee-sign"></i> 7500</span>
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

</div>

