<div class="bullSportsClub">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 bullSportsClubContent">
                <div>
                    <h1>Abros BULL Sports Club – LETs LEAD</h1>
                    <div class="genderCategory">
                        <ul>
                            <li><a href="/" class="btn btn-warning btnBounce btnBounceWarning"><span>Men's</span></a></li>
                            <li><a href="/" class="btn btn-warning btnBounce btnBounceWarning"><span>Women's</span></a></li>
                            <li><a href="/" class="btn btn-warning btnBounce btnBounceWarning"><span>Kids</span></a></li>
                            <li><a href="/" class="btn btn-warning btnBounce btnBounceWarning"><span>Technology</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bullSportsClubGraphic">
                <img src="assets/img/bullSportsClub.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>