<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/img/instaGallery-1.jpg" alt="" class="img-fluid w-100">
    </div>
    <div class="swiper-slide">
      <img src="assets/img/instaGallery-2.jpg" alt="" class="img-fluid w-100">
    </div>
    <div class="swiper-slide">
      <img src="assets/img/instaGallery-3.jpg" alt="" class="img-fluid w-100">
    </div>
    <div class="swiper-slide">
      <img src="assets/img/instaGallery-4.jpg" alt="" class="img-fluid w-100">
    </div>
  </div>
  <!-- Nav Controls -->
  <div class="instaGalleryControls">
    <div class="btn btn-dark swiper-button-next">
      <i class="fas fa-angle-left"></i>
    </div>
    <div class="btn btn-dark swiper-button-prev">
      <i class="fas fa-angle-right"></i>
    </div>
  </div>
</swiper>
